@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Klee+One&family=Lato:wght@300&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&family=Urbanist:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: Lato, "sans-serif";
  position: relative;
  line-height: 1.6;
}

.navbar {
  height: 80px;
  /* margin: 20px; */
}
.container {
  background-color: #eee;
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  overflow: auto;
}

.navbar .flex {
  justify-content: space-between;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.logo .logo-title {
  margin-left: 20px;
}

nav {
  font-size: 18px;
  text-align: center;
  margin-right: 20px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
  line-height: 1.2;
}

.navbar h1 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Dancing Script", cursive;
}

.navbar h1::first-letter {
  font-weight: bolder;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 600;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* Misconception: this won't work! */
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
  margin-left: 30px;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  font-weight: bolder;
  border-bottom: 2px solid #1098ad;
  color: #1098ad;
}

/* LVHA */

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

h1::first-letter {
  font-weight: bold;
}

.red {
  color: red;
  font-size: 20px;
}
.center {
  text-align: center;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cards {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cards .card {
  justify-content: center;
  text-align: center;
  height: 200px;
}
.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.card a {
  color: initial;
  text-decoration: initial;
  font-style: initial;
  text-transform: initial;
}
.card h4 {
  font-size: 1em;
  color: #1098ad;
}

.carte-google {
  width: 80%;
  text-align: center;
  margin: 10px auto;
}

.titre-2 {
  text-align: center;
}
.comment {
  text-align: center;
  padding: 30px;
  color: #1098ad;
}
.container-archives,
.container-archives hr {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.container-archives iframe {
  margin: 15px auto;
}

.titre-horaires {
  margin-top: 20px;
  text-align: center;
}

.table {
  text-align: center;
  margin: 20px auto;
}

.date {
  display: flex;
  justify-content: space-evenly;
}

.bg-quran img {
  height: 300px;
  padding: 15px;
  margin: 15px auto;
  display: block;
}

.table {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-collapse: collapse;
  font-family: "Quicksands", sans-serif;
  /* overflow: hidden; */
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.table thead th {
  background-color: #009578;
  color: #fff;
}

.table td,
.table th {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background-color: #eee;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009578;
}

.time-month, .form-jumuaa {
  display: flex;
}
.time-month a, .form-jumuaa a {
  font-weight: bold;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.time-month a:hover,
.form-jumuaa a:hover {
  background-color: rgb(229, 250, 239);
  color: black;
  font-style: normal;
  text-decoration: none;
  border: 1px solid #009578;
}

.form-jumuaa a{
  background-color: #f0cdcd;
  border: 1px solid black;
  color:blue
}

#active {
  background-color: #c2f7fc;
  color: red;
}
